/* ==========================================================================
   Pages
   ========================================================================== */

.page {
  &__header {
    position: relative;
    text-align: center;
    color: inherit;
    padding: ($global-spacing * 2) 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0);

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .row;
      @extend .row--centered;
    }

    .theme-hero & {
      @extend .antialiased;
      background-color: $base-color;
      color: #fff;
      margin-bottom: ($global-spacing * 2);
      
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: transparent;
      }

      @include media(small-up) {
        margin-bottom: ($global-spacing * 3);
      }

      @include media(large-up) {
        margin-bottom: ($global-spacing * 4);
      }
    }

    @include media(medium-up) {
      padding: ($global-spacing * 3) 0;
    }

    @include media(large-up) {
      padding: ($global-spacing * 4) 0;
    }

  }

  &__headline {
    @include col(12/12);
    @include media(medium-up) {
      @include col(8/12, $offset: 2/12);
    }
  }

  &__title {
    @extend .heading, .heading--xlarge;
    .theme-compact & {
      @extend .heading, .heading--medium;
      margin-bottom: 0.5rem;
    }
  }

  &__introduction {
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 2rem;
    > *:last-child {
      margin-bottom: 0;
    }

    .theme-hero & {
      color: rgba(#fff, 0.64);
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    .theme-compact & {
      font-size: 1rem;
      line-height: 1.5rem;
      @include media(medium-up) {
        font-size: 1.25rem;
        line-height: 2.5rem;
      }
    }
  }

  &__body {
    margin-bottom: 2rem;
    > .inner {
      @extend .row;
      @extend .row--centered;
    }
    @include media(medium-up) {
      margin-bottom: 3rem;
    }
  }

  &__content {
    @include col(12/12);
    margin-bottom: 2rem;
    @include media(medium-up) {
      @include col(8/12);
    }
  }

  &__aside-contents {
    @include col(12/12);
    margin-bottom: 2rem;
    padding-top: 2rem;
    box-shadow: inset 0 1px 0 0 $base-alpha-color;
    @include media(medium-up) {
      @include col(4/12);
      box-shadow: none;
      padding-top: 0;
    }
    @include media(large-up) {
      @include col(3/12, $offset: 1/12);
    }
  }

  &__aside-title {
    @extend .heading, .heading--small;
  }

  .aside-menu {
    list-style: none;
    margin: 0;
    a {
      display: inline-block;
      padding: 0.25rem 0;
    }
    @include media(medium-up) {
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }
}